<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool Document</title>
</head>
<body>
  <h1>Hello World!</h1>
  <h2>This has some data, check it out!</h2>
  <input id="textInput"></input>
  <button id="submit">Submit text to nemobot</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  $("#submit").on("click", () => {
    let inputText = $("#textInput").val();
    axios({
      method: "post",
      baseURL: "https://limitless-hamlet-40360.herokuapp.com",
      url: "/NemoText",
      responseType: "text", //json for data
      data: {
        text: inputText
      }
    }, {
      headers: {"Access-Control-Allow-Origin": "*"}
    })
    .then((result) => { console.log(`DATA PASSED: ${inputText}`); })
    .catch((err) => { console.log("Sorry, there was an error"); });
  })
</script>
</html>